[Unit]
Description = search
After=network.target

[Service]
Type = simple
Restart = on-failure
RestartSec = 5
ExecStart = /usr/local/bin/search serve

[Install]
WantedBy = default.target
